@import url('https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css');
h1, h2, h3, h4, h5 {
    font-family: 'Roboto', sans-serif;
}
.nav-inverse .navbar-brand{
    color:cornsilk;

}
.navbar-inverse {
    background-color: cornflowerblue;
}



body{
    font-family: 'Nunito', sans-serif;
    text-align: center;
    background-color:white ;
}
.navbar-nav.navbar-right:last-child {
    margin-right: 0;
    color:cornsilk;

}

section#itemsInner{
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
}

article#items{
    position: relative;
}

div.moreleft, div.moreright {
    position: absolute;
    height: 100%;
    width: 2em;
    background: rgba(255, 255, 255, 0.5);
    bottom: 0;
}

div.moreleft {
    left: 5;
}

div.moreright {
    left: 5;
}

.scrollleft, .scrollright {
    position: absolute;
    transform: scaleY(2);
    bottom: 50%;
    font-size: 1.2em;
    font-weight: 100;
    margin-left: 10px;
    margin-right: 10px;
}

.scrollleft{
    left: 2;
}

.scrollright{
    right: 2;
}

a.left-button, a.right-button {
    text-decoration: none;
    color: rgb(60, 60, 60);
}

footer{
    background-color: cornflowerblue;
    color: white;}